{% extends 'base.html' %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Blogz</h1>
    <p class="lead">Welcome to my "Blogz" project, such as prescribed by the higher
        teaching authority during the first ever Launch Code in Memphis, TN <strong>2019</strong>
        and beyond!
    </p>
</div>
<hr />
<div class="container">
    {% if users|length == 0 %}
        <p>No users yet</p>
    {% else %}
        <ul>
            {% for user in users %}
            <li><a href=""><strong>{{user.username}}</strong></a></li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}